<div data-role="sunnyct-wp-forms-container">
    {{ form(form) }}
    <div data-role="sunnyct-wp-forms-spinner" style="display: none">
        <img src="{{ WP_SITEURL }}/wp-admin/images/wpspin_light-2x.gif">
        <img src="{{ WP_SITEURL }}/wp-admin/images/wpspin_light.gif">
        <img src="{{ WP_SITEURL }}/wp-admin/images/loading.gif">
    </div>
</div>